{% load static %}
    <!-- Testimonials -->
    <section class="d-flex justify-content-center align-items-center h-100 min-vh-100">
        <div class="container-fluid bg-testimonials p-5">
            <div class="container my-5">
                    <h1 class="card-title testimonials-title text-center mt-5">Testimonials</h1>
                    <p class="card-text testimonials-text text-center text-muted">Some quotes from our happy customers</p>
                <div class="row">

                    <div class="col-lg-4 col-md-12 mt-3">
                        <div class="card h-100 d-flex flex-column">
                            <img src="{% static 'img/testimonials1.png' %}" class="card-img-top px-5 pt-5 pb-0" alt="...">
                            <span class="text-center">
                                <i class="fa-solid fa-star bg-full"></i>
                                <i class="fa-solid fa-star bg-full"></i>
                                <i class="fa-solid fa-star bg-full"></i>
                                <i class="fa-solid fa-star bg-full"></i>
                                <i class="fa-solid fa-star-half bg-full"></i>
                            </span>
                            <div class="card-body h-100 d-flex flex-column text-center px-3 pt-0 pb-3">
                                <h4 class="card-title mt-auto comment">“I love it! No more air fresheners”.</h4>
                                <h6 class="card-title comment-name text-muted mt-auto">Luisa</h6>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-12 mt-3">
                        <div class="card h-100 d-flex flex-column">
                            <img src="{% static 'img/testimonials2.png' %}" class="card-img-top px-5 pt-5 pb-0" alt="...">
                            <span class="text-center">
                                <i class="fa-solid fa-star bg-full"></i>
                                <i class="fa-solid fa-star bg-full"></i>
                                <i class="fa-solid fa-star bg-full"></i>
                                <i class="fa-solid fa-star bg-full"></i>
                                <i class="fa-solid fa-star-half bg-full"></i>
                            </span>
                            <div class="card-body h-100 d-flex flex-column text-center px-3 pt-0 pb-3">
                                <h4 class="card-title mt-auto comment">“Reccomended for everyone”</h4>
                                <h6 class="card-title comment-name text-muted mt-auto">Luisa</h6>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-12 mt-3">
                        <div class="card h-100 d-flex flex-column">
                            <img src="{% static 'img/testimonials3.png' %}" class="card-img-top px-5 pt-5 pb-0" alt="...">
                            <span class="text-center">
                                <i class="fa-solid fa-star bg-full"></i>
                                <i class="fa-solid fa-star bg-full"></i>
                                <i class="fa-solid fa-star bg-full"></i>
                                <i class="fa-solid fa-star bg-full"></i>
                                <i class="fa-solid fa-star-half bg-full"></i>
                            </span>
                            <div class="card-body h-100 d-flex flex-column text-center px-3 pt-0 pb-3">
                                <h4 class="card-title mt-auto comment">“Looks very natural, the smell is awesome”</h4>
                                <h6 class="card-title comment-name text-muted mt-auto">Luisa</h6>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </section>                        
    <!-- Testimonials End -->





    <!-- Popular -->
    <section class="d-flex justify-content-center align-items-center h-100 min-vh-100">
        <div class="container mt-5 mb-5 p-5">
            <div class="card card-popular d-flex flex-column h-100">
                <h1 class="card-title text-center popular-title">Popular</h1>
                <p class="card-text text-center popular-text">Our top selling product that you may like</p>
                <div class="row gy-2">

                    <div class="col-lg-3 col-md-6">
                        <div class="card product-card d-flex flex-column h-100">
                            <img src="{% static 'img/image1.png' %}" class="card-img-top" alt="...">
                            <div class="card-body d-flex flex-column h-100">
                            <h5 class="card-title product-title text-start">Spiced Mint</h5>
                            <p class="card-text text-end product-card-text mt-auto">$9.99</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card product-card d-flex flex-column h-100">
                            <img src="{% static 'img/image2.png' %}" class="card-img-top" alt="...">
                            <div class="card-body d-flex flex-column h-100">
                            <h5 class="card-title product-title text-start">Sweet Straweberry</h5>
                            <p class="card-text text-end product-card-text mt-auto">$9.99</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card product-card d-flex flex-column h-100">
                            <img src="{% static 'img/image3.png' %}" class="card-img-top" alt="...">
                            <div class="card-body d-flex flex-column h-100">
                            <h5 class="card-title product-title text-start">Cool Blueberries</h5>
                            <p class="card-text text-end product-card-text mt-auto">$9.99</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card product-card d-flex flex-column h-100">
                            <img src="{% static 'img/image4.png' %}" class="card-img-top" alt="...">
                            <div class="card-body d-flex flex-column h-100">
                            <h5 class="card-title product-title text-start">Juicy Lemon</h5>
                            <p class="card-text text-end product-card-text mt-auto">$9.99</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Popular End -->

