{% load static %}
    <!-- Feature -->
<div class="container-fluid mt-5 bg-feature p-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card rounded-0 card-feature bg-feature">
                    <div class="card-body p-5">
                        <h1 class="card-title feature-title">Clean and <br> fragrant soy wax</h1>
                        <p class="card-text feature-text">Made for your home and for your wellness</p>
                        <ul class="list-unstyled">
                            <li class="list-item mt-2">
                                <i class="fa-solid fa-check feature-icon"></i>
                                <span class="card-text feature-list-text ms-2">
                                    Eco-sustainable:All recyclable materials, 0% CO2 emissions
                                </span>
                            </li>
                            <li class="list-item mt-2">
                                <i class="fa-solid fa-check feature-icon"></i>
                                <span class="card-text feature-list-text ms-2">
                                    Hyphoallergenic: 100% natural, human friendly ingredients 
                                </span>
                            </li>
                            <li class="list-item mt-2">
                                <i class="fa-solid fa-check feature-icon"></i>
                                <span class="card-text feature-list-text ms-2">
                                    Handmade: All candles are craftly made with love.
                                </span>
                            </li>
                            <li class="list-item mt-2">
                                <i class="fa-solid fa-check feature-icon"></i>
                                <span class="card-text feature-list-text ms-2">
                                    Long burning: No more waste. Created for last long.
                                </span>
                            </li>
                        </ul>
                        <a href="" class="btn btn-b-features text-white mt-3">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="image-features mt-5">
                    <img src="{% static 'img/feature1.png' %}" alt="" class="feature-img1">
                    <img src="{% static 'img/feature2.png' %}" alt="" class="feature-img2">
                    <img src="{% static 'img/leaves.png' %}" alt="" class="feature-img3">
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Feature End -->
