    <!-- Footer -->

<div class="container-fluid bg-footer mt-5 p-5">
    <div class="container p-5">
        <div class="row border-top ">

            <div class="col-lg-6 col-md-12">
                <img src="img/logo-footer.png" alt="">
                <p class="footer-text text-white">Your natural candle made for <br> your home and for your wellness.</p>
            </div>
            <div class="col-lg-2 col-md-4">
                <ul class="list-unstyled mt-5">
                    <li class="list-item">
                        <a href="" class="list-link text-decoration-none footer-active-link">Discovery</a>
                    </li>
                    <li class="list-item mt-3">
                        <a href="" class="list-link text-decoration-none  footer-link">New season</a>
                    </li>
                    <li class="list-item mt-3">
                        <a href="" class="list-link text-decoration-none  footer-link">Most searched</a>
                    </li>
                    <li class="list-item mt-3">
                        <a href="" class="list-link text-decoration-none  footer-link">Most selled</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-4">
                <ul class="list-unstyled mt-5">
                    <li class="list-item">
                        <a href="" class="list-link text-decoration-none footer-active-link">About</a>
                    </li>
                    <li class="list-item mt-3">
                        <a href="" class="list-link text-decoration-none  footer-link">Help</a>
                    </li>
                    <li class="list-item mt-3">
                        <a href="" class="list-link text-decoration-none  footer-link">Shipping</a>
                    </li>
                    <li class="list-item mt-3">
                        <a href="" class="list-link text-decoration-none  footer-link">Affiliate</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-4">
                <ul class="list-unstyled mt-5">
                    <li class="list-item">
                        <a href="" class="list-link text-decoration-none footer-active-link">Info</a>
                    </li>
                    <li class="list-item mt-3">
                        <a href="" class="list-link text-decoration-none  footer-link">Contact Us</a>
                    </li>
                    <li class="list-item mt-3">
                        <a href="" class="list-link text-decoration-none  footer-link">Privacy Policies</a>
                    </li>
                    <li class="list-item mt-3">
                        <a href="" class="list-link text-decoration-none  footer-link">Terms & Conditions</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
